* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url("../img/cafeteria1.jpg");
  background-size: 100%;
  background-position: 0 -400px;
  height: 40vh;
  transition: ease 2s;
}
header h1 {
  text-align: center;
  color: white;
  padding-top: 250px;
  font-family: "Pacifico";
  font-size: 40pt;
  text-shadow: 2px 2px 5px black;
}

footer {
  padding: 100px;
  background-color: rgb(100, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Tajawal";
  font-size: 15pt;
}
footer div {
  width: 48%;
  float: left;
  margin: 5px;
}

footer #contatos {
  line-height: 23pt;
  text-align: right;
}
footer #contatos a {
  color: white;
  text-decoration: none;
}

footer #redes li {
  display: inline-block;
  margin: 10px;
}

/* formatação para a barra de navegação do site */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  padding-top: 60px;
  transition: ease 0.5s;
}

.sidenav a {
  font-family: "Play";
  font-size: 20pt;
  padding: 8px 8px 8px 32px;
  color: white;
  text-decoration: none;
  display: block;
  transition: ease 0.5s;
  margin-bottom: 10px;
}
.sidenav a:hover {
  color: red;
}
.sidenav .fechar {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 50px;
  font-size: 30pt;
}

.abrir {
  font-family: "Play";
  margin: 20px;
  color: white;
  font-size: 20pt;
  text-decoration: none;
}
#main {
  transition: ease 0.5s;
}
/* formatação aplicada a todos os h2 do site */
main h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 50px;
  border-bottom: 1px solid darkred;
  font-family: "Pacifico";
  font-size: 30pt;
}

/* formatação aplicada a página index.html */
main p {
  font-family: "Tajawal";
  font-size: 15pt;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 20px;
}

main #imgHome {
  text-align: center;
}
main #imgHome img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transition: ease 0.5s;
  cursor: pointer;
}
main #imgHome img:hover {
  transform: rotateY(180deg);
}
